<h2>Hi {{name}},</h2>
<p>
  Thanks for creating an account with us. Please verify your email address by clicking the following link:
</p>
<a href="{{verifyLink}}">Verify email address</a>

<p>Thank you, <br/>The Team</p>
