<p>Dear {{referredByName}},</p>

<p>Thank you for referring your friend ({{newUserName}}) to Mundo! We're
  delighted to welcome them to our community. Your support is invaluable to us,
  and we look forward to continuing this delicious journey together.</p>

<p>Warm regards,<br />The Mundo Team</p>