<h2>Dear {{referredByName}},</h2>

<p>Thank you for referring your friend ({{newUserName}}) to Phantom Phood! We're
  delighted to welcome them to our community. To show our appreciation, we've
  credited your account with
  {{amount}}
  Phantom Coins. Enjoy unlocking exclusive deals and indulging in your favorite
  dishes. Your support is invaluable to us, and we look forward to continuing
  this delicious journey together.</p>

<p>Warm regards,<br />
  The Phantom Phood Team</p>

<p>Thank you, <br />The Team</p>